.container {
  max-width: 539px;
  margin-top: 243px;
  margin-bottom: 386px;
}

.title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.32;
  letter-spacing: 1px;
  color: #091133;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  line-height: 1.67;
  color: #505f98;
  margin-bottom: 69px;
}

.btn {
  width: 189px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #111b47;
  color: #fff;
  border-radius: 2px;
  border: solid 2px #111b47;
  margin-right: 30px;
}

.btnTransparent {
  width: 189px;
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  color: #091133;
  border-radius: 2px;
  border: solid 2px #091133;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .title {
    font-size: 40px;
    text-align: center;
  }
  
  .description {
    text-align: justify;
  }

  .btnBlock {
    display: flex;
    justify-content: space-between;
  }

  .btn {
    margin-right: 0;
  }

  .btn, .btnTransparent {
    font-size: 14px;
    width: 47%;
  }
}