* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  flex-grow: 1;
  max-width: 1100px;
}