.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 221px;
}

.container:last-child {
  margin-bottom: 0;
}

.textBlock {
  max-width: 445px;
}

.featureImgWrapper {
  width: 540px;
  align-self: center;
}

.featureImg {
  width: 100%;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  color: #091133;
  margin-bottom: 30px;
}

.description {
  font-size: 16px;
  line-height: 1.63;
  color: #6f7cb2;
}

.btn {
  margin-top: 30px;
}

@media screen and (max-width: 1060px) {
  .featureImgWrapper {
    width: 50%;
  }

  .textBlock {
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 100px;
  }

  .title {
    text-align: center;
  }

  .textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    max-width: 100%;
    margin-bottom: 40px;
  }
}