.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.listItem {
  margin-right: 60px;
}

.listItem:last-child {
  margin-right: 0;
}

.listItemLink {
  font-size: 14px;
  text-decoration: none;
  color: #505f98;
  font-weight: normal;
  line-height: 1.71;
}

.activeLink {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .list {
    flex-direction: column;
  }

  .listItem {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .listItemLink {
    font-size: 20px;
  }
}