.container {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  margin-bottom: 108px;
}

.text {
  max-width: 540px;
}

.descImgWrapper {
  width: 540px;
  align-self: center;
}

.descImg {
  width: 100%;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  color: #091133;
  margin-top: 30px;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  line-height: 1.63;
  color: #6f7cb2;
}

.options {
  display: flex;
  margin-top: 180px;
}

.optionTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: #091133;
}

.optionDescription {
  font-size: 12px;
  line-height: 1.5;
  color: #5d6970;
}

@media screen and (max-width: 1060px) {
  .descImgWrapper {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
  }

  .text {
    text-align: justify;
    max-width: 100%;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .options {
    margin-top: 50px;
  }
}